*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
img{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 32px;
}
.menu{
    display: flex;
    gap: 32px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}
